@tailwind base;
@tailwind components;
@tailwind utilities;

.loading-icon {
    animation: animate 2s infinite;
  }

  .react-datepicker-wrapper {
    @apply w-full;
  }
  .ck-editor__editable {
    @apply min-h-72;
  }
  
@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(720deg);
    }
}